body{
  background-image: linear-gradient(to right top, #8e8389, #90878f, #928b95, #938f9b, #9394a0, #8b919e, #838e9b, #7a8b98, #67808c, #54767e, #436b6e, #34605d);
  min-height: 100vh;
  background-image: "./bg.webp";

}
.container {
 
  backdrop-filter: blur(10px); /* Blur effekti */
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Qo'shimcha effekt uchun soya */
  margin-bottom: 18vh;
}